* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14pt;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}