@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Seaweed+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 183, 109);
  font-family: "News Cycle", sans-serif;
  font-size: 12pt;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 25px;
  margin: 15px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.grid-content {
  border: 2pt solid black;
  background-color: black;
  color: white;
}

img {
  margin-top: 1em;
}

header {
  margin: 30px auto;
}

h1 {
  font-family: 'Seaweed Script', cursive;
  font-size: 5rem;
}