* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}